@model CMPH_BlogProject.Models.Blog
<div class="row"><hr /></div>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abstract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abstract)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>

    </dl>
    <p><p>
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { slug = Model.Slug })
            @Html.ActionLink("Delete", "Delete", new { slug = Model.Slug })
        };
        @Html.ActionLink("Back to List", "Index")

    </p>
</div>
<div>
    @foreach (var comment in Model.Comments.OrderByDescending(p => p.Created))
    {

    };
    @if(User.IsInRole("Admin") || User.IsInRole("Mod"))
    {
        @using(Html.BeginForm("Create", "Comments", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("BlogId", Model.Id)
            @Html.HiddenFor(model => model.Slug)

            <div class="form-group">
                @Html.Label("Add Comment", htmlAttributes: new { @class = "form-horizontal col-md-2" })
                <div class="col-md-10">
                    @Html.TextArea("CommentBody", new { htmlAttributes = new { @class = "form-control" })
                </div>
            </div>
         }
    };
</div>
};

