@using CMPH_BlogProject.Helper
@using PagedList;
@using PagedList.Mvc;

@model CMPH_BlogProject.Models.Blog

@{
    ViewBag.Title = "Feature";
}
<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
    <div class="container">
        <h2>Just A Couple Of My Projects</h2>
        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
                <img class="img-fluid" img src="~/img/ColorfulMarketStall.jpeg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">View All Blogs</h4>
                            @Html.ActionLink("Blogs", "Index", "Blogs", null, new { @class = "nav-link js-scroll-trigger" })
                            <p class="mb-0 text-white-50"></p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6">
                <img class="img-fluid" img src="~/img/TracktorFieldSA.jpeg" alt="">
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">View Gallery</h4>
                            @Html.ActionLink("Gallery", "Gallery", "Blogs", null, new { @class = "nav-link js-scroll-trigger" })
                            <p class="mb-0 text-white-50"></p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Three Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
                <img class="img-fluid" img src="~/img/GreatZimbabweDoor.jpeg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">View All Blogs</h4>
                            @Html.ActionLink("Blogs", "Index", "Blogs", null, new { @class = "nav-link js-scroll-trigger" })
                            <p class="mb-0 text-white-50"></p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<!-- Project One Row --> This picks a random Blog and displays it
    <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
            <img class="img-fluid" img src="~/img/ColorfulMarketStall.jpeg" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-white">@Model.Title</h4>
                        <p class="mb-0 text-white-50">
                            @Model.Body
                        </p>
                        <hr class="d-none d-lg-block mb-0 mr-0">
                    </div>
                </div>
            </div>
        </div>
    </div>*@

