@model IPagedList<CMPH_BlogProject.Models.Blog>
@using CMPH_BlogProject.Helper
@using PagedList.Mvc
@using PagedList
@{
    ViewBag.Title = "PublishedBlogs";
}
@*<style>
    img {
        width: 100%;
        border: 1px solid #4caf50;
    }
</style>*@
<div class="row"><br /></div>
<section id="projects" class="projects-section bg-light">
    <div class="container">
        <h2>Check Out Some Of My Blogs</h2>
        <p>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Create New", "Create")
                <br />
                @Html.ActionLink("View Unpublished", "UnpublishedBlogs")
                <br />
                @Html.ActionLink("View All Blogs", "Index")
                <br />

            }
        </p>
        @using (Html.BeginForm("PublishedBlogs", "Blogs", FormMethod.Get, htmlAttributes: new { @class = "form" }))
        {
            <div class="controls controls-row search-row">
                <input id="searchStr" name="searchStr" class="input-block-level" type="text" placeholder="Search" />
                <button id="searchStr" name="searchStr" class="btn btn-info" type="submit"><i class="icon-search"></i>Search</button>
            </div>
        }

        <div class="row"><br /></div>
        <div class="container align-items-center">
            @foreach (var item in Model)
            {
                if (item.Published == true)
                {
                    @Html.Raw(item.Title)
                    <br />
                    @Html.Raw(item.Body)
                    <br />
                    @Html.DisplayFor(modelItem => item.Created)
                    <br />
                    @Html.DisplayFor(modelItem => item.Updated)
                    <br />
                    if (item.MediaURL != null)
                    {
                        <div>
                            <a href="@Url.Content(item.MediaURL)" target="_blank">@item.Title</a>
                        </div>
                        @*I want to add a feature that displays the image on the page below the blog info*@
                        @*@Html.DisplayFor(modelItem => item.MediaURL)*@
                        @*<img class="img-responsive" src="@item.MediaURL" alt="">*@
                        @*<img src="@Url.Content(@BlogHelper.GetBlogImagePath(media.Id))" />*@
                        }
                    <br />
                    <br />
                    @Html.ActionLink("Details", "Details", new { slug = item.Slug })
                    @*@Html.ActionLink("View Comments", "Index", "Comments")*@
                    <br />
                    <hr />
                }
            }
        </div>

    </div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }));
    @*This lets the search carry over to a new page*@

</section>